<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/login.css">

</head>
<body>
<div class="login-container">
    <h1>Logout </h1>
    <div id="error-message" th:if="${error}" >Message: [[${error}]]</div>
    <form id="logoutForm" method="post">
        <button type="submit">Yes</button>
    </form>
    <form id="backToAboutForm" action="/main/about">
        <button type="submit">No</button>
    </form>

</div>
</body>
</html>
