<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head  >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${page}"></title>
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>

<div th:include="fragment::navbar"> </div>


<div >
    <!-- Main Content -->
    <div class="main-content">
        <div class="about-container">
            <section class="about-section">
                <h1 th:text="${page}"></h1>
                <p>Welcome to MyApp, where we strive to make your life easier with our innovative solutions. Our mission is to deliver exceptional value and quality to our users.</p>
            </section>

        </div>
    </div>
</div>
</body>
</html>
